import

* {
  font-family: Lucida Bright,Georgia,serif;
}

body {
  font-family:'Courier New', Courier, monospace;
  font-weight:"300";
  margin: 0;
  height: 57.1875rem;
  width: 100vw;
  background: linear-gradient(0deg, rgba(224,155,72,0.850577731092437) 0%, rgba(255,239,205,1) 100%); 
  background-color:#e6ae69;
}

/*navbar css*/
header {
  font-family: Lucida Bright,Georgia,serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6rem;
  width: 100vw;
	padding: 0 2rem;
  padding-bottom: 2rem;
  position: fixed;
  align-self: center;
}

nav {
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
  font-size: 2rem;
  padding-left: 4.3rem;
  padding-right: 4.3rem;
  padding-top: 2rem;
}

nav a:hover {
	font-size: 2rem;
  transition: 2s;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

#logo-nav:hover {
  height: 8.5rem;
  transition: 0.5s;
}
#logo-nav {
  padding: 0;
  margin-top: 0;
  width: 6.6rem;
  height: 7.2rem;
  background-color:#cd8d31;
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
  transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
  #logo-nav {
   display: none;
  }
  
}

/*Starts inicio css*/

#inicio {
  font-family: Lucida Bright,Georgia,serif;
  margin-top: 10rem;
  margin: 0;
  width: 100vw;
  height: 90vh;
  padding-top: 5rem;
}

#roundInicio {
  background-color: #a68e7449;
  border-radius: 50rem 50rem 40rem 40rem;
  height: 35rem;
  width: 40rem;
  transition: 0.5s;
  box-shadow: 4px 10px 56px 1px #a68e7449;
}

#roundInicio:hover {
  transition: 0.5s;
  box-shadow:10px 10px 71px 62px  #a68e7449;
}

#col1 {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(22rem);
  padding-bottom: 10rem;
}

#col2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform: translate(5rem,4rem);
  padding-bottom: 10rem;
}

#coffeeImg {
  transform: translate(2rem,-3rem);
  width: 23rem;
  height: 33rem;
  margin-left: 7rem;
}

#granosImg {
  position: absolute;
  height: 16rem;
  width: 33.25rem;
  transform: translate(3rem, -12rem); 
}

#txtInicio {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.pInicio {
  font-size: 1.3rem;
}

#butInicio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btnInicio {
  width: 40%;
  border: none;
  margin-top: 0.9375rem;
  border-radius: 3.125rem;
  padding: 0.125;
  height: 2.5rem;
  background-color: #E09132;
  font-weight: bold;
}

#btn2 {
  background-color: #424530;
}

@media only screen and (max-width: 1560px) {
  #col1 {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(11.5rem);
  }
}

@media only screen and (max-width: 1560px) {
  #col1 {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(6rem);
  }
}

@media only screen and (max-width: 998px) {
  #col2{
    width: 40%;
  }
  #coffeeImg{
    width: 38rem;
    transform: translate(-14rem,-8rem);
  }
  #granosImg {
    width: 23rem;
   transform: translate(-23rem,-23rem);
  }
  #col1{
    width: 60%;
    justify-content: flex-start;
    padding: 0;
    transform: translateX(5rem);
  }

}

@media only screen and (max-width: 688px) {
  #inicio{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #col2 {
    display: none;
  }
  #coffeeImg {
    display: none;
  }
  #granosImg {
   display: none;
  }
  #col1 {
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

/*starts the arrow css*/
#arrow {width: 100%; display: flex; flex-direction: row; justify-content: center;  transition: 0.5s; background-color:#e6ae69; padding-top: 2rem;}

/*starts the Historia css*/

#historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#e6ae69;
  width: 100vw;
  padding-bottom: 15rem;
}

#card {
  position: static;
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  background-color: #FEEBC8;
  box-shadow: 0.125rem 0.3125rem 0.625rem #888888c2;
  width: 56.75rem;
  height: 35.4375rem;
}

#tittleDiv {
  padding-top: 3.5rem;
  padding-left: 3.5rem;
  width: 50%;
  font-family: Lucida Bright,Georgia,serif;
}

#txtHistoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 40%;
  text-align: center;
  font-family: Lucida Bright,Georgia,serif;
}

.historiaP {
  padding: 3rem;
 width: 370px;
 height: 292px;
}

#airpress {
  position: absolute;
  width: 30.9375rem;
  transform: translate(-18rem, 8.5rem);
}

#block {
  position: absolute;
  width: 15rem;
  height: 9.0625rem;
  transform: translate(20rem, -12rem);
}

#blockImg {
  width: 17.8125rem;
  height: 9.0625rem;
}

@media only screen and (max-width: 998px) {
  #card {
    width: 50.75rem;
    height: 29.4375rem;
  }
  #airpress {
    width: 20rem;
    transform: translate(-12rem,6rem);
  }
  #airpressImg {
    width: 20rem;
  }
  #block {
    transform: translate(17rem,-8.5rem);
  }
}

@media only screen and (max-width: 688px){
  #airpress {
    display: none;
  }
  #block {
    display: none;
  }
  #card {
    width: 70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #tittleDiv {
    width: 90%;
  }
  #tittleHistoria {
    color: #424530;
    padding-left: 2rem;
  }
  #txtHistoria {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
}

/*starts Galeria css*/
#galeria {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  padding-top: 18rem;
  background-color: #e6ae69;
  padding-bottom: 15rem;
}

#tittleGaleria {
  font-size: 8rem;
  color: #FFEFCD;
  opacity: 0.3;
  transform: translate(22rem, -10rem);
  font-family: Lucida Bright,Georgia,serif;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0rem;
  justify-content: center;
  align-items: center;
}

#swip {
  align-self: center;
  justify-self: center;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
  padding-right: 29rem !important;
}


.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
/*
#galeria {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  padding-top: 18rem;
  background-color: #e6ae69;
  padding-bottom: 15rem;
}

#tittleGal {
  position: absolute;
}

#tittleGaleria {
  font-size: 13rem;
  color: #FFEFCD;
  opacity: 0.3;
  transform: translate(-11.6rem, -10rem);
  font-family: Lucida Bright,Georgia,serif;
}

#bow {
  position: absolute;
  width: 100%;
  background-color: #636845;
  height: 12rem;
  transform: translateY(12rem);
}

#centerC {
  display: flex;
  flex-direction: column;
  align-items: center!important;
}

#carHolder {
  width: 52.4375rem;
  display: flex;
  justify-content: center!important;
  align-items: center!important;
}

.carImg {
  width: 52.4375rem;
  height: 36.0625rem;
  margin: auto;
  align-self: center!important;
}

.carousel-inner {
  justify-content: center!important;
}

.carousel-item {
  width: 52.4375rem;
  height: 36.0625rem;
  justify-content: center!important;
}

#carousel {
  width: 52.4375rem;
  height: 36.0625rem;
  margin: auto;
}

/*starts menu css*/

#menu {
  font-family: Lucida Bright,Georgia,serif;
  background-color: #e6ae69;
  padding-bottom: 15rem;
  padding-top: 6rem;
  width: 100vw;
}

#tittleMenu {
  font-size: 10rem;
  padding-top: 5rem;
  color: #FFEFCD;
  opacity: 0.3;
  margin-bottom: 10rem;
 padding-left: 14.5rem;
}

.menuDiv {
  display: flex;
  flex-direction: column;
  padding-left: 0rem;
}

.menuDiv1 {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}

#menuComponent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFEFCD;
  width: 60%;
  height: 6rem;
  align-self:  flex-end;
  border-radius: 1rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem -0.1875rem #888689de;
}

#menuComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFEFCD;
  width: 60%;
  height: 6rem;
  align-self: center;
  border-radius: 1rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem -0.1875rem #888689de;
}

.columnDivMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.columnMenu {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 0;
}

.columnMenu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  margin: 0;
}


#imgMenu {
  position: relative;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  transform: translate(4rem,-15rem);
}

#imgMenu1 {
  position: relative;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  transform: translate(12rem,-14.6rem);
}

#compMenuH {
  padding-top: 0.8rem;
  font-size: 1.4rem;
}

#compMenuP {
  padding-bottom: 1rem;
}

#menuBtn {
  background-color: #424530;
  color: white;
  padding: 0.7rem;
  border-radius: 50rem;
  width: 100%;
  max-width: 16%;
  justify-self: center;
  align-self: center;
  margin-top: 1rem;
}

#menuBtn1 {
  background-color: #424530;
  color: white;
  padding: 0.7rem;
  border-radius: 50rem;
  width: 17%;
  justify-self: center;
  align-self: center;
  transform: translateX(9rem);
  margin-top: 1rem;
}

@media only screen and (max-width: 1560px) {
  #menuBtn {
    max-width: 16%;
    font-size: 90%;
  }

  #menuBtn1 {
    max-width: 16%;
    font-size: 90%;
  }
}

@media only screen and (max-width: 1140px) {
  #tittleMenu {
    font-size: 7rem;
    padding-left: 4rem;
  }

  .columnDivMenu {
    flex-direction: column;
  }

  .menuDiv {
    width: 100vw;
  }

  .menuDiv1 {
    width: 100vw;
    padding-right: 0rem;
  }

  #menuComponent {
    width: 60%;
  }

  #menuComponent1 {
    width: 60%;
    align-self: center;
  }

  #menuBtn {
    width: 13%;
    padding: 1rem;
  }

  #menuBtn1 {
    width: 13%;
    padding: 1rem;
    transform: translateX(0rem);
  }

  #imgMenu {
    height: 8rem;
    width: 8rem;
    transform: translate(9rem,-12rem);
  }
}

@media only screen and (max-width: 998px) {
  #tittleMenu {
    font-size: 7rem;
    padding-left: 4rem;
  }
  .columnDivMenu {
    flex-direction: column;
  }

  .menuDiv {
    width: 100vw;
  }

  #menuComponent {
    width: 60%;
  }

  #menuBtn {
    width: 13%;
    padding: 1rem;
  }

  #imgMenu {
    height: 8rem;
    width: 8rem;
    transform: translate(9rem,-12rem);
  }
}

@media only screen and (max-width: 688px) {
  #tittleMenu {
    font-size: 7rem;
    padding-left: 4rem;
  }
  .columnDivMenu {
    flex-direction: column;
  }

  .menuDiv {
    width: 100vw;
  }

  #menuComponent {
    width: 70%;
  }

  #menuBtn {
    width: 20%;
  }

  #imgMenu {
    height: 8rem;
    width: 8rem;
    transform: translate(2rem,-11rem);
  }
}

/*starts contacto css*/
#contactoDiv {
  background-color: #FFEFCD; 
  align-items: center;
  justify-content: center;
  padding-bottom: 65rem;
  height: 50rem;
}

#contactoTittle {
  font-size: 6rem;
  color:#e6ae69;
  opacity: 0.3;
  font-family: Lucida Bright,Georgia,serif;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-family: Lucida Bright,Georgia,serif;
 
}

#inputMensaje {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: Lucida Bright,Georgia,serif;
  justify-content: center;
  align-items: center;
}

#mensajeInput {
  height: 13.9375rem;
  width: 71.875rem;
  border: none;
  border-radius: 1.875rem;
  padding: 1rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem -0.1875rem #888689de;
}

#mensajeInput:focus {outline:none !important}

.inputC {
  height: 3.125rem;
  width: 21.75rem;
  border: none;
  border-radius: 2.3529rem;
}

.inputC:focus {outline:none !important}

#mensaje {
  transform: translateX(-33rem);
  padding-bottom: 0.7rem;
}

#icon {
  position: relative;
}

#iconInput {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-left: 0.5rem;
  align-items: center;
  border-radius: 1.25rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem -0.1875rem #888689de;
}

.btnContacto {
  font-family: Lucida Bright,Georgia,serif;
  width: 7%;
  border: none;
  margin-top: 0.9375rem;
  border-radius: 1.25rem;
  padding: 0.0625rem;
  height: 4rem;
  background-color:#636845;
  font-weight: bold;
  margin-left: 4rem;
  color: white;
}
 
label {
  font-weight: 500;
  transform: translateX(0.7rem);
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}

#BtnDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateX(-7rem);
}

@media only screen and (max-width: 1140px) {
  #input {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
  }

  .inputDiv {
    padding-left: 14rem;
    width: 80%;
  }

  .inputC {
    width: 90%;
  }

  #inputMensaje {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #mensaje {
    transform: translateX(6rem);
    align-self: flex-start;
    padding-left: 6rem;
  }

  #mensajeInput {
    height: 14rem;
    width: 66%;
    margin-left: 1rem;
  }

  .btnContacto {
    width: 20%;
  }

  #contactoTittle{
    font-size: 5rem;
    padding-left: 6rem;
  }
}

@media only screen and (max-width: 998px) {

  #input {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
  }

  .inputDiv {
    padding-left: 14rem;
    width: 80%;
  }

  .inputC {
    width: 90%;
  }

  #inputMensaje {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #mensaje {
    transform: translateX(6rem);
    align-self: flex-start;
    padding-left: 6rem;
  }

  #mensajeInput {
    height: 14rem;
    width: 62%;
    margin-left: 1rem;
  }

  .btnContacto {
    width: 20%;
  }

  #contactoTittle{
    font-size: 5rem;
    padding-left: 6rem;
  }
}

@media only screen and (max-width: 688px) {

  #input {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .inputDiv {
    padding-left: 0rem;
    width: 57%;
    
  }

  
  #inputMensaje {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #mensaje {
    transform: translate(0rem);
    align-self: flex-start;
    padding-left: 8rem;
  }

  #mensajeInput {
    height: 10rem;
    width: 24rem;
    margin-left: 0rem;
  }

  .btnContacto {
    width: 20%;
  }

  #contactoTittle{
    font-size: 5rem;
    padding-left: 6rem;
  }
}

/*starts footer css*/

#footer {
  display: flex;
  flex-direction: row;
  background-color: #e6ae69;
}

#logo {
  transform: translate(1rem, -6rem);
  width: 12.3125rem;
  height: 12.3125rem;
}

.footerDiv {
  padding: 2rem;
 padding-left: 9.5rem;
 display: flex;
 flex-direction:column ;
justify-content: center;
}

#footer2 {
  padding-left: 22.5rem;
}

#logoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contactP{
  padding-left: 0.5rem;
}

#iconC {
  transform: translateY(-0.5rem);
}

#footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.FooterIcon {
  color: #424530;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 1140px) {
  #footer {
    width: 100vw;
  }

  #footer2  {
    display: none;
  }

  #logo {
    display: none;
  }

  #footer1 {
   width: 50%;   
   padding: 2rem;
  }
}

@media only screen and (max-width: 998px) {
  #footer {
    width: 100vw;
  }

  #footer2  {
    display: none;
  }

  #logo {
    display: none;
  }

  #footer1 {
   width: 50%;   
   padding: 2rem;
  }
}

@media only screen and (max-width: 688px) {

  #footer {
    width: 100vw;
  }

  #footer2  {
    display: none;
  }

  #logo {
    display: none;
  }

  #footer1 {
   width: 50%;   
   padding: 2rem;
  }
}

/*nosotros css*/

#nosotrosSec {
  display: flex;
  flex-direction: column;
  background-color: #e6ae69;
}

#aboutUsTittle {
  font-size: 5rem;
  font-family: Lucida Bright,Georgia,serif;
  align-self: flex-end;
  padding-right: 12rem;
  color: #636845;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#TittleColor1 {
  font-size: 5rem;
  font-family: Lucida Bright,Georgia,serif;
  align-self: flex-end;
  font-weight: lighter;
  color: #424530;
}

#aboutRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(3rem);
  margin-bottom: 4rem;
}

#aboutRowSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(-3rem);
  margin-bottom: 4rem;
}

#rowAboutDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

#aboutP {
  width: 49.5rem;
  height: 12.5rem;
  font-family: Lucida Bright,Georgia,serif;
  background-color: #FFEFCD;
  border-radius: 1.875rem 0rem 0rem 0rem;
  box-shadow: 0rem 0.25rem 0.1875rem 0rem gray;
}
#aboutPMiddle {
  width: 59.375rem;
  height: 12.5rem;
  font-family: Lucida Bright,Georgia,serif;
  background-color: #FFEFCD;
  border-radius: 0px 1.875rem 0px 1.875rem;
  box-shadow: 0 0.25rem 0.1875rem 0px gray;
}

#middlePDiv {
  display: flex;
  flex-direction: row;
}

#aboutPSwitch {
  width: 49.5rem;
  height: 12.5rem;
  font-family: Lucida Bright,Georgia,serif;
  background-color: #FFEFCD;
  border-radius: 0px 1.875rem 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0.25rem 0.1875rem 0px gray;
}

#aboutTitle {
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

#aboutTitleSwitch {
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 9rem;
}

#aboutParagraph {
  font-size: 0.8rem;
  padding-right: 7rem;
  padding-left: 3rem;
}

#middlePleft {
  font-size: 0.8rem;
  padding-left: 2rem;
  padding-right: 9rem;
}

#middlePright {
  font-size: 0.8rem;
  padding-right: 2rem;
  padding-left: 9rem;
}

#aboutParagraphSwitch {
  font-size: 0.8rem;
  padding-right: 3rem;
  padding-left: 7rem;
}

#imgRound {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  border: 10px solid #636845 ;
  transform: translateX(-6rem);
}

#imgRoundSwitch {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  border: 0.625rem solid #636845 ;
  transform: translateX(6rem);
}

#imgRoundMiddle {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  border: 0.625rem solid #636845 ;
  transform: translate(19rem,-11rem);
}

/*starts contact screen*/

#mapDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  align-self: center;
}

.mapIconDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: 8rem;
}

#mapIcon{
  height: 4rem;
  width: 4rem;
  color: #424530;
  padding: 1rem;
  margin-bottom: 4rem; 
}

/*starts galeria screen css*/

#galSec {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #e6ae69;
  padding-bottom: 8rem;
}

#galeriaTitle {
  color: #424530;
  font-family: Lucida Bright,Georgia,serif;
  font-size: 4rem;
  padding: 2rem;
}

/*first section of the layout*/

#firstSec {
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
  width: 100%;
}

/*first column*/

.colTwo {
  display: flex;
  flex-direction: column;
}

.firstCol {
  width: 24.5rem;
  height: 43.3125rem;
  padding: 0.7rem;
}

/*second column*/

#five {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.rowTwo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.firstRow {
  width: 23.375rem;
  height: 23.375rem;
  padding: 0.5rem;
}

#medioCol {
  width: 46.75rem;
  height: 32rem;
  padding: 0.5rem;
}

#secondCol1 {
  width: 30.5rem;
  height: 30.5rem;
  padding: 0.5rem;
}

#secondCol2 {
  width: 16.25rem;
  height: 30.5;
  padding: 0.5rem;
}

/*the big middle image*/

#middleImg {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#imgMiddle {
  width: 70rem;
  height: 61.875rem;
  margin-left: 15.7rem;
}

/*second section of the layout*/

#SecondSec {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 15rem;
}

#twoColumn {
  display: flex;
  flex-direction: column;
}

/*images, first column second section*/

#secondColumn1 {
  width: 36.25rem;
  height: 36.25rem;
  padding: 0.5rem
}

/*images, second column, second section*/

#secondColumn2-1 {
  width: 35rem;
  height: 46.5625rem;
  padding: 0.5rem
}

#secondColumn2-2 {
  width: 35rem;
  height: 25.9375;
  padding: 0.5rem
}

/*talleres css*/

#talleresSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  width: 100%;
  margin: auto;
  background-color: #e6ae69;
  padding-bottom: 8rem;
  font-family: Lucida Bright,Georgia,serif;
}

#tallerTittle {
  color: #636845;
  font-size: 5.5rem;
  align-self: flex-start;
  padding-right: 10rem;
  padding-bottom: 5rem;
}

#roundTalleres {
  border-radius: 50rem;
  width: 30rem;
  height: 30rem;
  background-color: #e4973ac9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#largeTalleres {
  position: relative;
  background-color: #636845;
  width: 45rem;
  height: 15rem;
  transform: translateX(5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tallerImg {
  height: 20rem;
  width: 13rem;
  transform: translateX(-4rem);
}

#talleresDivP {
  background-color: #FEEBC8;
  border-radius: 1rem;
  height: 25rem;
  width: 18rem;
  margin-left: 3rem;
  padding: 1rem;
  transform: translateX(-4.3rem);
}

#roundTalleres1 {
  border-radius: 50rem;
  width: 30rem;
  height: 30rem;
  background-color: #636845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#largeTalleres1 {
  position: relative;
  background-color: #FEEBC8;
  width: 45rem;
  height: 15rem;
  transform: translateX(5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#talleresDivP1 {
  background-color:  #e4973a;
  border-radius: 1rem;
  height: 25rem;
  width: 18rem;
  margin-left: 3rem;
  padding: 1rem;
  transform: translateX(-4.3rem);
}

@media only screen and (max-width: 998px) {
  #roundTalleres1 {
    border-radius: 50rem;
    width: 25rem;
    height: 25rem;
    background-color: #636845;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  #largeTalleres1 {
    position: relative;
    background-color: #FEEBC8;
    width: 35rem;
    height: 12rem;
    transform: translateX(6rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #roundTalleres {
    border-radius: 50rem;
    width: 25rem;
    height: 25rem;
    background-color: #e4973ac9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #largeTalleres {
    position: relative;
    background-color: #636845;
    width: 35rem;
    height: 12rem;
    transform: translateX(6rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #tallerImg {
    height: 15rem;
    width: 9rem;
    transform: translateX(-2rem);
  }

  #talleresDivP1 {
    background-color:  #e4973a;
    border-radius: 1rem;
    height: 20rem;
    width: 15rem;
    margin-left: 3rem;
    padding: 1rem;
    transform: translateX(-1.3rem);
  }

  #talleresDivP {
    background-color: #FEEBC8;
    border-radius: 1rem;
    height: 20rem;
    width: 15rem;
    margin-left: 3rem;
    padding: 1rem;
    transform: translateX(-1.3rem);
  }
  
}

@media only screen and (max-width: 688px){

  #tallerTittle {
    padding-left: 4rem;
  }

  #roundTalleres {
    background-color: transparent;
  }

  #roundTalleres1 {
    background-color: transparent;
  }

  #largeTalleres {
    background-color: transparent;
  }

  #largeTalleres1 {
    background-color: transparent;
  }

  #talleresSec {
    padding: 0rem;
  }

  #tallerImg {
    height: 20rem;
    width: 13rem;
  }
  
  #talleresDivP {
    background-color: #FEEBC8;
    border-radius: 1rem;
    height: 20rem;
    width: 15rem;
    margin-left: 3rem;
    padding: 1rem;
  }

  #talleresDivP1 {
    background-color: #e4973a;;
    border-radius: 1rem;
    height: 20rem;
    width: 15rem;
    margin-left: 3rem;
    padding: 1rem;
  }
}

/*Bolsas css*/

#bolsasSec {
  width: 100vw;
  background-color:  #e6ae69;
  padding-top: 20rem;
}

#spanBolsas {
  height: 5rem;
  width: 100vw;
}

#RoundBolsas {
  border-radius: 50rem;
  width: 28rem;
  height: 28rem;
  background-color: #e4973a;
  display: flex;
  flex-direction: column;
}

#largeBolsas {
  position: relative;
  background-color: #636845;
  width: 45rem;
  height: 14.81rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  transform: translate(8rem,2rem);
  box-shadow: 0 0.15rem 0.1875rem 0px rgba(61, 61, 61, 0.486);
}

#largeBolsas1 {
  position: relative;
  background-color: #FEEBC8;
  width: 45rem;
  height: 14.81rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  transform: translate(8rem,2rem);
  box-shadow: 0 0.15rem 0.1875rem 0px rgba(61, 61, 61, 0.486);
}

#imgBolsa {
 position: relative;
  width: 18.75rem;
  height: 23.75rem;
  transform: translate(7rem,-31rem);
}

#HBolsas {
  background-color: #FEEBC8;
  width: 70%;
  color: #E09132;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 border-radius: 1rem;
}

#HBolsas1 {
  background-color: #424530;
  width: 70%;
  color: #E09132;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1rem;
}

#bolsaTittle {
  padding: 1rem;
}

.bolsaComp {
  margin: 1rem;
  height: 40rem;
}

@media only screen and (max-width: 998px) {

}

@media only screen and (max-width: 688px){
  .bolsaComp {
    margin: 0rem;
    width: 100vw;
    height: 30rem;
  }

  #RoundBolsas {
    background-color: transparent;
    width: 100vw;
  }

  #imgBolsa {
    position: relative;
     width: 11.75rem;
     height: 16.75rem;
   }

   #largeBolsas1 {
    position: relative;
    background-color: #FEEBC8;
    width: 70%;
    height: 14.81rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    transform: translate(8rem,2rem);
    box-shadow: 0 0.15rem 0.1875rem 0px rgba(61, 61, 61, 0.486);
  }

  #largeBolsas {
    position: relative;
    background-color: #636845;
    width: 70%;
    height: 14.81rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    transform: translate(8rem,2rem);
    box-shadow: 0 0.15rem 0.1875rem 0px rgba(61, 61, 61, 0.486);
  }
  
}